.nav {
   text-align: center;
   width: 100%;
   max-width: 800px;
   background-color: #21243d;
   margin: 0 auto;
}

.nav ul {
   width: 100%;
   border-top: 1px solid #ccc;
   display: flex;
   justify-content: space-around;
   column-gap: 1rem;
}

.nav li {
   list-style: none;
   padding: 1rem 0 0rem;
   font-size: 1.5rem;
   text-align: center;
}

.nav a { 
   text-decoration: none;
   color: #ea1d5d;
}

li:hover { 
   border-bottom: 2px solid green;
}
li:active { 
   border-bottom: 2px solid red;
}